{
  "plugins": [
    "stylelint-order",
    "stylelint-config-rational-order/plugin"
  ],
  "defaultSeverity": "warning",
  "extends": [
    "stylelint-config-rational-order",
    "stylelint-config-recommended",
    "stylelint-config-tailwindcss"
  ],
  "rules":  {
    "block-no-empty": true,
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "custom-media-pattern": null,
    "custom-property-pattern": null,
    "selector-nested-pattern": null,
    "property-no-vendor-prefix": null,
    "value-no-vendor-prefix": null
  },
  "ignoreFiles": ["**/*.tsx", "**/*.ts"]
}
